#footer-up{
    color: #fff;
    font-weight: 700;
    height: 40px;
    background-color: #1A7340;
}

#footer-bottom {
    height: 100px;
    background-color: #B7E4CA;
}

#logo-footer {
    width: 70px;
}

#made-by {
    color: #219050;
    font-weight: 700;
}