#page-title {
    font-weight: 700;
    font-size: 32px;
    color: #27AD60;
}

#plant-image-input {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    border: 3px solid #27AD60;
}

p {
    font-size: 20px;
    font-weight: 700;
}